* {
  padding: 0;
  margin: 0;
  font-family: 'Arvo', sans-serif;
}
.clearfix {
  overflow: auto;
}
.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  color: #ffffff;
  line-height: 48px;
  display: inline;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #516750;
  line-height: 29px;
  padding: 10px;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #494d5b;
  line-height: 22px;
}
h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #2a2c35;
  line-height: 17px;
}
h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
hr {
  border: 0;
  height: 2px;
  background: #dad9a3;
  background-image: linear-gradient(to right, #dad9a3, #e1dfbf, #dad9a3);
}
.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}
.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}
p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}
a {
  font-family: 'Quicksand', sans-serif;
  color: #448d8c;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}
#skillsH3 {
  color: #dad9a3;
  display: none;
}
.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  background-color: #e1dfbf;
  cursor: pointer;
  display: inline-block;
  font-family: Arvo, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%;
  /* auto */
  text-align: center;
}

.button:hover {
  background-color: #dad9a3;
}

.button:active {
  background-color: #dad9a3;
}

.olive {
  background-color: #dad9a3;
}
.olive-text {
  color: #dad9a3;
}
.white-text {
  font-weight: bold;
  color: #FFFFFF;
}
.light-olive {
  background-color: #e1dfbf;
  padding-bottom: 10px;
  clear: both;
}
.dark-green {
  background-color: #516750;
}
#header {
  background: linear-gradient(to right, #516750, #678165);
}
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}
ul {
  list-style-type: none;
}
div img.biopic {
  -moz-border-radius: 200px/200px;
  -webkit-border-radius: 200px 200px;
  border-radius: 200px/200px;
  width: 200px;
  height: 200px;
}
.biopic {
  float: left;
}
img {
  padding: 10px;
}

/* Bar chart stuff */

.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}
span {
  padding: 5px;
}
#letsConnect {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}
@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}
@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}
#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}
@media only screen and (min-width: 750px) {
  #skillsH3, .biopic {
    display: block;
  }
}
